DATABASE_URL="postgresql://mundodelana:mundodelana@127.0.0.1:5433/mundodelana"

NEXTAUTH_SECRET="cambia-esto-por-un-secreto-largo-y-aleatorio"
NEXTAUTH_URL="http://localhost:3000"

ADMIN_EMAIL="elvira@mundodelana.es"
ADMIN_PASSWORD="cambia-esta-contrasena"
